<h1 class="text-center">Activity dashboard</h1>
<div class="container">
  <div *ngIf="updateMsgs.length > 0">
    <div *ngFor="let updateMsg of updateMsgs" class="alert alert-success box-msg" role="alert">
      {{updateMsg}}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-activity-input (update)='onUpdate($event)'></app-activity-input>
    </div>


    <div class="col">
      <app-activities-latest [updates]="updates" [activities]="activities"></app-activities-latest>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <app-activity-recurrent-overview [sortedActivities]="sortedActivities" (updates)='onModification($event)'>
      </app-activity-recurrent-overview>
    </div>
  </div>

</div>
