<div class="border">

  <h3 class="text-center m-3"> Track activity! </h3>

  <form (ngSubmit)="onSubmit()" [formGroup]="activityInputForm">

    <div class="row">
      <div class="col-centered">
        <mat-form-field appearance="fill">
          <mat-label>Name of activity</mat-label>
          <input matInput placeholder="Name" formControlName="name">
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-centered">
        <mat-form-field appearance="fill">
          <mat-label>Category</mat-label>
          <mat-select placeholder="Category" formControlName="category">
            <mat-option *ngFor="let category of showCategories" [value]="category">
              {{category.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-centered">
        <mat-form-field appearance="fill">
          <mat-label>Recurrent</mat-label>
          <mat-select placeholder="Recurrent" formControlName="recurrent"
            (ngModelChange)="changeRecurrentInput($event)">
            <mat-option *ngFor="let recurrent of showRecurrent" [value]="recurrent">
              {{recurrent.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>


    <div class="row" *ngIf="showProgressionField">
      <div class="col-centered">
        <mat-form-field appearance="fill">
          <mat-label>Progression</mat-label>
          <mat-select placeholder="Progression" formControlName="progression">
            <mat-option *ngFor="let progression of showProgression" [value]="progression">
              {{progression.viewValue}}
            </mat-option>
          </mat-select>
          <div *ngIf="activityInputForm.controls.progression.hasError('recurrentValidatorError')" class="text-danger">
            Please fill in
            progression.
          </div>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-centered">
        <mat-form-field appearance="fill">
          <mat-label>Choose a deadline</mat-label>
          <input matInput [matDatepicker]="picker" placeholder="DeadlineDate" formControlName="deadlineDate">
          <mat-datepicker-toggle matSuffix [for]="picker">
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-centered">
        <mat-form-field appearance="fill">
          <mat-label>Description of activity</mat-label>
          <textarea matInput placeholder="Description" formControlName="description"></textarea>
        </mat-form-field>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-centered">
        <button type="submit" [disabled]="!activityInputForm.valid" class="btn btn-primary">Submit <mat-icon
            aria-hidden="false" aria-label="home icon">check_circle_outline</mat-icon> </button>
      </div>
    </div>

  </form>

</div>
